

/* C CE &*/

button:nth-child(1){
    font-size: 20px;
    color: #ffffff;
    border-radius: ;
    font-weight:bold;
    background-color: #5f3c82;
    color: #ffb10a;
}

button:nth-child(2){
    font-size: 20px;
    color: #ffffff;
    font-weight:bold;
    background-color: #5f3c82;
    color: #ffb10a;
}

button:nth-child(3){
    font-size: 20px;
    color: #ffffff;
    font-weight:bold;
    background-color: #5f3c82;
    color: #ffb10a;
}


/* 7 8 9*/
button:nth-child(5){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

button:nth-child(6){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

button:nth-child(7){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

/* 4 5 6 */

button:nth-child(9){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

button:nth-child(10){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

button:nth-child(11){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

/* 1 2 3 */

button:nth-child(13){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

button:nth-child(14){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

button:nth-child(15){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

/* _ 0 _ */

button:nth-child(17){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

button:nth-child(18){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

button:nth-child(19){
    font-size: 20px;
    color: #ffffff;
	background-color: #5f3c82;
}

/*operators*/

button:nth-child(4){
    font-size: 20px;
    border-radius: 50%;
    font-weight:bold;
    color: #ffb10a;
	background-color: #5f3c82;
}

button:nth-child(8){
    font-size: 20px;
    border-radius: 50%;
    font-weight:bold;
    color: #ffb10a;
	background-color: #5f3c82;
}

button:nth-child(12){
    font-size: 20px;
    border-radius: 50%;
    font-weight:bold;
    color: #ffb10a;
	background-color: #5f3c82;
}

button:nth-child(16){
    font-size: 20px;
    border-radius: 50%;
    font-weight:bold;
    color: #ffb10a;
	background-color: #5f3c82;
}

button:nth-child(20){
    font-size: 20px;
    height: 73px;
    font-weight:bold;
    border-radius: 5%;
	background-color:#e6c973;
}